body {
    /* color:#93C74B; */
    background-color: #93C74B;
}

.container {
    /* color:#93C74B; */
    background-color: #bd4bc7;
    padding: 1em;
    margin-top: 1em;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

h1{
    text-align: center;

}